.loader-container {
  display: grid;
  justify-items: center;
  align-content: center;
  gap: calc(var(--base-gap) * 3);
}

.loader {
  width: 0.75em;
  height: 4em;
  border-radius: calc(var(--base-br) * 0.2);
  display: block;
  margin: calc(var(--base-margin) * 4) auto;
  position: relative;
  background-color: var(--loader-bg);
  box-sizing: border-box;
  animation: animloader 0.25s 0.25s linear infinite alternate;

  &::after,
  &::before {
    content: "";
    width: 0.75em;
    height: 4em;
    border-radius: calc(var(--base-br) * 0.2);
    background-color: var(--loader-bg-top);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: calc(var(--base-margin) * 5);
    box-sizing: border-box;
    animation: animloader 0.25s 0.45s linear infinite alternate;
  }

  &::before {
    left: calc(var(--base-margin) * -5);
    animation-delay: 0s;
  }

  @media screen and (width > 768px) {
    &,
    &::after,
    &::before {
      width: 0.6em;
      border-radius: calc(var(--base-br) * 0.3);
    }
  }
}

@keyframes animloader {
  0% {
    height: 4em;
  }

  100% {
    height: 0.4em;
  }
}
