:root {
  --base-fs: 1rem;
  --base-padding: 0.5em;
  --base-margin: 0.5em;
  --base-gap: 0.5em;
  --base-br: 20px;
  --base-lh: 1.5;

  /* Font Weights */
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi: 600;
  --fw-bold: 700;

  /* Font Stacks */
  --fs-netflix-sans: "Netflix Sans", sans-serif;

  /* Color Palettes */
  --hue: 210;
  --swatch-1: oklch(99% 0.05 var(--hue));
  --swatch-2: oklch(89% 0.08 var(--hue));
  --swatch-3: oklch(80% 0.2 var(--hue));
  --swatch-4: oklch(72% 0.25 var(--hue));
  --swatch-5: oklch(67% 0.31 var(--hue));
  --swatch-6: oklch(50% 0.27 var(--hue));
  --swatch-7: oklch(36% 0.2 var(--hue));
  --swatch-8: oklch(25% 0.25 var(--hue));
  --swatch-9: oklch(15% 0.1 var(--hue));
  --swatch-10: oklch(5% 0.075 var(--hue));

  --body-bg: var(--swatch-10);
  --text-1: var(--swatch-1);
  --text-2: var(--swatch-2);
  --text-3: var(--swatch-3);

  // Scrollbar
  --scrollbar-thumb-bg: var(--swatch-7);
  --scrollbar-track-bg: var(--swatch-9);

  // Navigation
  --nav-container-bg: var(--swatch-9);
  --nav-border: var(--swatch-8);
  --nav-link-hover-bg: var(--swatch-8);

  // Loader
  --loader-bg: var(--swatch-9);
  --loader-bg-top: var(--swatch-3);

  // Swiper
  --swiper-bullet-bg: var(--swatch-7);
  --swiper-bullet-active-bg: var(--swatch-4);

  // Buttons
  --primary-btn-text-color: var(--text-2);
  --primary-btn-bg: var(--swatch-8);
  --primary-btn-before-bg: var(--swatch-7);

  // Card
  --card-border: var(--swatch-8);

  // Form
  --form-bg: var(--swatch-9);
  --input-bg: var(--swatch-10);
  --placeholder-text: var(--swatch-9);
}
