.carousel-wrapper {
  .swiper,
  .swiper-wrapper {
    width: 100%;
    height: 100vh;
  }

  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 25px;
  }

  .swiper-pagination-bullet {
    inline-size: 12px;
    block-size: 12px;
    background-color: var(--swiper-bullet-bg);
  }

  .swiper-pagination-bullet-active {
    background-color: var(--swiper-bullet-active-bg);
  }
}
