// Movies Carousel
.carousel-wrapper {
  .swiper,
  .swiper-wrapper {
    width: 100%;
    height: 100dvh;
  }

  .swiper-pagination-bullet {
    inline-size: 12px;
    block-size: 12px;
    background-color: var(--swiper-bullet-bg);
  }

  .swiper-pagination-bullet-active {
    background-color: var(--swiper-bullet-active-bg);
  }

  .movie-swiper {
    padding-inline: calc(var(--base-padding) * 5);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: calc(var(--base-gap) * 5);

    .movie-content {
      display: grid;
      gap: calc(var(--base-gap) * 5);
      justify-items: start;

      h2 {
        font-size: calc(var(--base-fs) * 3);
        line-height: calc(var(--base-lh) * 0.75);
        text-shadow: 10px 5px 10px oklch(5% 0.05 200 / 0.8);
        text-wrap: balance;
      }

      p {
        font-weight: var(--fw-light);
        font-size: calc(var(--base-fs) * 0.95);
      }
    }

    .movie-image-container {
      display: none;
      transform-origin: preserve-3d;

      img {
        border-radius: calc(var(--base-br) * 0.75);
        box-shadow: 0 8px 13px oklch(30% 0.2 200 / 0.3);
        transition: transform 100ms ease-out;
      }
    }

    // Media Queries
    @media screen and (width <= 768px) {
      .movie-content p {
        font-size: calc(var(--base-fs) * 1.2);
      }
    }

    @media screen and (width > 768px) {
      padding-inline: calc(var(--base-padding) * 3);
    }

    @media screen and (width > 992px) {
      .movie-image-container {
        display: block;
      }
    }
  }
}

// Movies & Show Wrapper
.movies-shows-wrapper {
  padding-inline: calc(var(--base-padding) * 5);
  margin-block: calc(var(--base-margin) * 10);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, auto);
  gap: calc(var(--base-gap) * 14);

  h3 {
    margin-block-end: calc(var(--base-margin) * 3);
    font-size: calc(var(--base-fs) * 1.5);
    text-decoration: underline 0.12em solid;
    text-underline-offset: 3px;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12em, 1fr));
    grid-template-rows: auto;
    gap: calc(var(--base-gap) * 4);
  }

  .movies-page-link-container,
  .tvshows-page-link-container {
    text-align: center;
    margin-block-start: calc(var(--base-margin) * 5);
  }

  @media screen and (width <= 480px) {
    h3 {
      font-size: calc(var(--base-fs) * 1.7);
    }
  }

  @media screen and (width > 768px) {
    padding-inline: calc(var(--base-padding) * 3);

    .cards {
      gap: calc(var(--base-gap) * 3);
    }
  }
}
