.movies-header {
  inline-size: 100%;
  block-size: 150px;
  display: flex;
  align-items: center;
  background-image: linear-gradient(
      to top left,
      oklch(2% 0.05 200 / 0.75),
      oklch(10% 0.05 200 / 0.6)
    ),
    url("/posters/movie-poster.webp");
  background-position: center;
  background-repeat: no-repeat;
  padding-inline: calc(var(--base-padding) * 5);

  h1 {
    font-size: calc(var(--base-fs) * 3);
    text-shadow: 10px 5px 10px oklch(5% 0.05 200 / 0.8);
    letter-spacing: 1px;
  }

  @media screen and (width > 768px) {
    block-size: 175px;
    padding-inline: calc(var(--base-padding) * 3);
  }
}

.movies-navigation {
  background-color: var(--nav-container-bg);
  border-block: 1px solid var(--nav-border);

  ul {
    list-style-type: none;
    padding: calc(var(--base-padding) * 2) calc(var(--base-padding) * 4);
    display: flex;
    gap: calc(var(--base-gap) * 3);
    align-items: center;

    a {
      font-size: calc(var(--base-fs) * 1.2);

      &.active {
        opacity: 0.6;
      }
    }
  }

  @media screen and (width > 768px) {
    ul {
      padding-inline: calc(var(--base-padding) * 3);
    }

    ul a {
      font-size: calc(var(--base-fs) * 1.1);
    }
  }
}

.movies-container {
  .cards {
    padding: calc(var(--base-padding) * 5) calc(var(--base-padding) * 4) 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12em, 1fr));
    grid-template-rows: auto;
    gap: calc(var(--base-gap) * 4);
  }

  .load-more-container {
    display: flex;
    justify-content: center;
    margin-block: calc(var(--base-margin) * 10);
  }

  @media screen and (width > 768px) {
    .cards {
      padding-inline: calc(var(--base-padding) * 3);
      gap: calc(var(--base-gap) * 3);
    }
  }
}
