.search-header {
  inline-size: 100%;
  block-size: 150px;
  display: flex;
  align-items: center;
  background-image: linear-gradient(
      to top left,
      oklch(2% 0.05 200 / 0.8),
      oklch(10% 0.05 200 / 0.65)
    ),
    url("/posters/search-poster.webp");
  background-position: center;
  background-size: contain;
  padding-inline: calc(var(--base-padding) * 5);

  h1 {
    font-size: calc(var(--base-fs) * 3);
    text-shadow: 10px 5px 10px oklch(5% 0.05 200 / 0.8);
    letter-spacing: 1px;
  }

  @media screen and (width > 768px) {
    block-size: 175px;
    padding-inline: calc(var(--base-padding) * 3);
  }
}
