html {
  font-size: 75%;

  @media screen and (width > 480px) {
    font-size: 87.5%;
  }
  @media screen and (width > 768px) {
    font-size: 100%;
  }
  @media screen and (width > 992px) {
    font-size: 112.5%;
  }
  @media screen and (width > 1279px) {
    font-size: 125%;
  }

  @media (prefers-reduced-motion: no-preference) {
    scroll-behavior: smooth;
  }
}

* {
  margin: 0;
  padding: 0;

  &,
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

html,
body {
  block-size: 100%;
}

body {
  font-size: var(--base-fs);
  font-family: var(--fs-netflix-sans);
  font-weight: var(--fw-regular);
  line-height: var(--base-lh);
  background-color: var(--body-bg);
}

.app-wrapper {
  position: relative;
  min-block-size: 100vh;

  > .navigation-container {
    position: fixed;
    bottom: 0;
    inset-inline: 0;
  }

  @media screen and (width > 768px) {
    display: grid;
    grid-template-columns: 110px 1fr;

    > .navigation-container {
      position: sticky;
      top: 0;
    }
  }

  @media screen and (width > 992px) {
    grid-template-columns: 200px 1fr;
  }
}
