html {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-thumb-bg) var(--scrollbar-track-bg);
  font-size: 75%;

  @media screen and (width > 480px) {
    font-size: 87.5%;
  }
  @media screen and (width > 768px) {
    font-size: 100%;
  }
  @media screen and (width > 992px) {
    font-size: 112.5%;
  }
  @media screen and (width > 1279px) {
    font-size: 125%;
  }

  @media (prefers-reduced-motion: no-preference) {
    scroll-behavior: smooth;
  }
}

* {
  margin: 0;
  padding: 0;

  &,
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

html,
body {
  block-size: 100%;
}

body {
  font-size: var(--base-fs);
  font-family: var(--fs-netflix-sans);
  font-weight: var(--fw-regular);
  line-height: var(--base-lh);
  background-color: var(--body-bg);
}

// Scrollbar Styling
::-webkit-scrollbar {
  inline-size: 10px;
  block-size: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-bg);
  border-radius: calc(var(--base-br) * 0.2);
}

::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track-bg);
}

.app-wrapper {
  position: relative;
  min-block-size: 100dvh;

  > .navigation-container {
    position: fixed;
    bottom: 0;
    inset-inline: 0;
    z-index: 100;
  }

  @media screen and (width > 768px) {
    --navigation-width: 110px;

    display: grid;
    grid-template-columns: var(--navigation-width) 1fr;
    grid-template-rows: auto;

    > .navigation-container {
      position: sticky;
      top: 0;
    }
  }

  @media screen and (width > 992px) {
    --navigation-width: 200px;
  }
}

.container {
  block-size: 100dvh;
  overflow-x: hidden;
}

:is(.about-container, .contact-container) {
  display: grid;
  align-content: center;
  justify-content: center;
  gap: var(--base-gap);

  & > h1 {
    text-align: center;
    font-size: calc(var(--base-fs) * 10);
    text-shadow: 0 0 50px oklch(55% 0.1 var(--hue) / 0.75);
  }

  & > p {
    font-size: calc(var(--base-fs) * 1.25);
  }

  @media screen and (width > 768px) {
    & > h1 {
      font-size: calc(var(--base-fs) * 8);
    }
  }
}
