@font-face {
  font-family: "Netflix Sans";
  font-style: normal;
  font-weight: 300;
  src: local("Netflix Sans"),
    url("./fonts/NetflixSans-Light.woff2") format("woff2");
}
@font-face {
  font-family: "Netflix Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Netflix Sans"),
    url("./fonts/NetflixSans-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Netflix Sans";
  font-style: normal;
  font-weight: 500;
  src: local("Netflix Sans"),
    url("./fonts/NetflixSans-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "Netflix Sans";
  font-style: normal;
  font-weight: 700;
  src: local("Netflix Sans"),
    url("./fonts/NetflixSans-Bold.woff2") format("woff2");
}
